body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
  background-color: #1a1a1a;
	padding:0 0;
	margin:0 0; 
	font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.header{
	background: url("../images/banner.jpg") no-repeat;
	background-size: cover;
	min-height:865px;
}
.header-top {
  padding: 6em 0;

 }
.logo{
	float: left;
}
.logo a {
  display: block;
}
.top-menu{
	float: right;
	  margin-top: 0.5em;
}
.top-menu ul li{
	display: inline-block;
	padding-top: 0.5em;
}
.top-menu ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
  font-size: 1.4em;
  text-transform: capitalize;
  height: 15px;
  

}
.top-menu ul li a.active {
  color: #fac832;
}
.right-grid h3 {
  font-size: 2.5em;
  color: #000000;
}
.top-menu ul li a:hover{
	 color: #fac832;
}

.footer-section{
	padding: 3em 0;
	text-align: center;
	font-size: 15px;
	font-weight:bold;
	background: #fac832;
}
